<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HEHEHHEHEHEHE</title>


</head>
<body>
<h1>Люде смешное</h1>
<a href="/add"><button type="button">Add person</button></a>
<a href="/delete"><button type="button">Delete person</button></a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pers : ${person}">
        <td th:text="${pers.id}"></td>
        <td th:text="${pers.firstName}"></td>
        <td th:text="${pers.lastName}"></td>
        <td th:text="${pers.age}"></td>
        <td th:text="${pers.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>