<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form action="#" th:action="@{/register}" th:object="${user}"method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:field="*{username}" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required><br><br>

    <label for="role">Role:</label>
    <select id="role" name="role" th:field="*{role}" required>
        <option value="">Select a role</option>
        <option value="ROLE_USER">User</option>
        <option value="ROLE_ADMIN">Admin</option>
    </select><br><br>

    <button type="submit">Register</button>
</form>
<p th:if="${error}" th:text="${error}" style="color: red;"></p>
</body>
</html>